/*Add css reset here*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
input{
	border:1px solid #b0b0b0;
	padding:3px 5px 4px;
	color:#979797;
	width:190px;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
a{
	text-decoration: none;
}
/*end reset*/
/*Color themes taken from http://www.dtelepathy.com/blog/inspiration/beautiful-color-palettes-for-your-next-web-project*/
/*currently using Giant Goldfish*/
body{
	background-color:#69D2E7;
}

.site-title{
	font-family: "Lato",Arial, sans-serif;
	font-size:80px;
	color:white;
	text-align: center;
}

.visual-banner{
	font-family: "Lato", Arial, sans-serif;
	background-color: #E0E4CC;
	width:50%;
	margin:60px auto 0 auto;
	border-radius: 30px;
	padding:20px;
}

.language-selection header{
	color:#FA6900;
	text-align: center;
	font-size: 30px;
	margin:20px auto 40px auto;
}

.language-selection div{
	width:200px;
	background-color:#F38630;
	border-radius:25px;
	margin:30px auto 0 auto;
}

.language-choice div{
	text-align:center;
	line-height:25px;
	padding-top:10px;
	padding-bottom:10px;
	color:white;
	cursor:pointer;
}

.language-choice div:hover{
	background-color:#FA6900;
}

/*language page styles*/
.main-area{
	/*background: rgba(255,255,255,0.5);*/
	width:100%;
	border-top:1px solid gray;
	margin-top:20px;
	font-family: "Lato",Arial, sans-serif;
}

.language-title{
	font-size:30px;
	color:#000;
	text-align:center;
	font-weight: bold;
	margin-top:10px;
}

.language-title-english{
	color:#FA6900;
	text-align: center;
}

.japanese-main-area{
	margin-top:20px;
}

.welcome-message{
	text-align: center;
	text-transform: uppercase;
}

.japanese-options{
	margin:30px auto;
}

.japanese-options li{
	text-align:center;
	line-height:25px;
	padding-top:10px;
	padding-bottom:10px;
	color:white;
	cursor:pointer;
	width:200px;
	background-color:#F38630;
	border-radius:25px;
	margin: 10px auto 10px;
}

.japanese-options li:hover{
	background-color:#FA6900;	
}

.japanese-options h1{
	text-align:center;
}

#japanese-word-insert div{
	margin:10px auto;
	text-align:center;
}

#japanese-word-insert input[type="submit"]{
	text-align:center;
	line-height:25px;
	padding-top:10px;
	padding-bottom:10px;
	color:white;
	cursor:pointer;
	width:200px;
	background-color:#F38630;
	border-radius:25px;
	margin: 10px auto 10px;
}